<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        iframe {
            border: none; /* Loại bỏ viền xung quanh iframe */
        }
    </style>
</head>
<body>
    
    <iframe src="{%static 'game/index.html' %}" width="850" height="650">
</body>
</html>